<!DOCTYPE html>
<div th:fragment="indexScript" xmlns:th="http://www.thymeleaf.org">
        $.get("/user", function(data) {
            if(data) {
                $(location).attr('href', '/createPet?id='+data.id)
            }
        });

        var logout = function() {
            $.post("/logout", function() {
                $("#user").html('');
                $(".unauthenticated").show();
            })
            return true;
        }

        $.ajaxSetup({
            beforeSend : function(xhr, settings) {
                if (settings.type === 'POST' || settings.type === 'PUT'
                    || settings.type === 'DELETE') {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/
                        .test(settings.url))) {
                        xhr.setRequestHeader("X-XSRF-TOKEN",
                            Cookies.get('XSRF-TOKEN'));
                    }
                }
            }
        });
</div>