<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::script}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Battle Room</title>
    <script type="text/javascript" src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script type="text/javascript" src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="application/javascript" src="js/websocket.js" defer></script>
    <script type="application/javascript" src="js/battle/battleService.js" defer></script>
    <script type="application/javascript" src="js/battle/battleDom.js" defer></script>
    <script type="application/javascript" src="js/battle/battle.js" defer></script>
</head>

<body>

<section>

    <div id="petStats" th:object="${pet}">
        <h2>Pet stats:</h2>
        <p th:text="'Name: ' + ${pet.name}" />
        <p th:text="'Type: ' + ${pet.type}" />
        <p th:text="'Attack: ' + ${pet.attack}" />
        <p th:text="'Defence: ' + ${pet.defence}" />
        <p th:text="'Speed: ' + ${pet.speed}" />
    </div>
    <h1>Battle</h1>
    <div id="actionBar">
        <button id="attack" class="btn">Attack</button>
        <button id="special" class="btn">Special Attack</button>
        <button id="defend" class="btn">Defend</button>
        <button id="evade" class="btn">Evade</button>
    </div>
    <div id="log"></div>
</section>

</body>
</html>