<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/assets/css/main.css}"/>

    <title>Battle Room</title>

    <!-- Scripts -->
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <script type="text/javascript" src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script type="text/javascript" src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="application/javascript" src="js/websocket.js" defer></script>
    <script type="application/javascript" src="js/battle/battleService.js" defer></script>
    <script type="application/javascript" src="js/battle/battleDom.js" defer></script>
    <script type="application/javascript" src="js/battle/battle.js" defer></script>
</head>

<body>

    <div id="wrapper" class="bg">
        <!-- Main -->
        <div class="main">
            <div class="content">
                <div id="petStats" th:object="${pet}">
                    <h2>Pet stats:</h2>
                    <p th:text="'Name: ' + ${pet.name}" />
                    <p th:text="'Type: ' + ${pet.type}" />
                    <p th:text="'Attack: ' + ${pet.attack}" />
                    <p th:text="'Defence: ' + ${pet.defence}" />
                    <p th:text="'Speed: ' + ${pet.speed}" />
                </div>
                <h1>Battle</h1>
                <div id="actionBar">
                    <button id="attack" class="btn">Attack</button>
                    <button id="special" class="btn">Special Attack</button>
                    <button id="defend" class="btn">Defend</button>
                    <button id="evade" class="btn">Evade</button>
                </div>

                <div id="log"></div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer id="footer">
        <div class="fixed-bottom align-content-center badge badge-dark">
            <p class="copyright">&copy; 2018 Los Burritos. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>