<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pet creator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/createPet}" th:object="${pet}" method="post">
    <p>Name: <input type="text" th:field="*{name}" required /></p>
    <p>Type: <input type="text" th:field="*{type}" required /></p>
    <p>Attack: <input type="text" th:field="*{attack}" required /></p>
    <p>Defence: <input type="text" th:field="*{defence}" required /></p>
    <p>Speed: <input type="text" th:field="*{speed}" required /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>