<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::script}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Index</title>

    <script th:include="fragments/scripts :: indexScript" th:defer="true" type="text/javascript"></script>

</head>

<body>

<section>
    <h1>Tamagotchi battles</h1><br>
    <div class="container">
        <div class="container unauthenticated">
           With Facebook: <a href="/login">click here</a>
        </div>
    </div>

</section>

</body>
</html>